<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="copy">
<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
<div id="footerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h4>About</h4>
				<div class="hline-w"></div>
				<p>A technical demo showcasing a microservice architecture, built using <b>Spring cloud</b> and the <b>Netflix Open Source</b>.</p>
			</div>
			<div class="col-lg-6">
				<h4>Credits</h4>
				<div class="hline-w"></div>
				<p>
					latho12, Lars Thomasen<br/>
					lthomasen@gmail.com<br/>
                    <a href="http://crashh.me">Homepage</a>

				</p>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/retina-1.1.0.js"></script>
<script src="/js/jquery.hoverdir.js"></script>
<script src="/js/jquery.hoverex.min.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/custom.js"></script>


</body>
</html>