<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Import header and navbar  -->
<head th:replace="header :: copy"></head>

<body>

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>DM848 Microservice</h3>
                <h1>Exam project.</h1>
                <h5>Exam project for the course DM848 Microservices.</h5>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <h2>Spotlight videos</h2>
            <div class="col-md-4">
                <div class="fh5co-text" id="spotlight1">
                    <div class="spinner icon-spinner" aria-hidden="true" style="margin-top: 1em"></div>
                    <!--<i class="fh5co-intro-icon icon-bulb"></i>-->
                    <iframe id="ytplayer" type="text/html" width="310" height="210" src="" frameborder="0"></iframe>
                    <h4>[placeholder] Video1</h4>
                    <p>[placeholder] Description </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-text" id="spotlight2">
                    <div class="spinner icon-spinner" aria-hidden="true" style="margin-top: 1em"></div>
                    <!--<i class="fh5co-intro-icon icon-wrench"></i>-->
                    <iframe id="ytplayer2" type="text/html" width="310" height="210" src="" frameborder="0"></iframe>
                    <h4>[placeholder] Video2</h4>
                    <p>[placeholder] Description</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-text" id="spotlight3">
                    <div class="spinner icon-spinner" aria-hidden="true" style="margin-top: 1em"></div>
                    <!--<i class="fh5co-intro-icon icon-rocket"></i>-->
                    <iframe id="ytplayer3" type="text/html" width="310" height="210" src="" frameborder="0"></iframe>
                    <h4>[placeholder] Video3</h4>
                    <p>[placeholder] Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
    <h3>LATEST WORKS</h3>

    <div class="portfolio-centered">
        <div id="newestvideossection" class="recentitems portfolio">



        </div>
    </div>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
