<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Import header and navbar  -->
<head th:replace="header :: copy"></head>

<body>

<!-- *****************************************************************************************************************
 HEADER TITLE
 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>DM848 Microservice</h3>
                <h1>Exam project.</h1>
                <h5>Exam project for the course DM848 Microservices.</h5>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 SPOTLIGHT LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <h2>Spotlight images</h2>
        <div class="row centered">
            <div class="col-md-4">
                <div class="fh5co-text" id="spotlight1">
                    <div class="spinner icon-spinner" aria-hidden="true" style="margin-top: 1em"></div>
                    <!--<i class="fh5co-intro-icon icon-bulb"></i>-->
                    <img width="350" height="230" src="" alt=""/>
                    <h4>[placeholder] ajax_header</h4>
                    <p>[placeholder] ajax_description </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-text" id="spotlight2">
                    <div class="spinner icon-spinner" aria-hidden="true" style="margin-top: 1em"></div>
                    <!--<i class="fh5co-intro-icon icon-wrench"></i>-->
                    <img width="350" height="230" src="" alt=""/>
                    <h4>[placeholder] ajax_header</h4>
                    <p>[placeholder] ajax_description </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-text" id="spotlight3">
                    <div class="spinner icon-spinner" aria-hidden="true" style="margin-top: 1em"></div>
                    <!--<i class="fh5co-intro-icon icon-rocket"></i>-->
                    <img width="350" height="230" src="" alt=""/>
                    <h4>[placeholder] ajax_header</h4>
                    <p>[placeholder] ajax_description </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
 IMAGE SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
    <div class="container">
        <h2>Latest Ten Images</h2>
    </div>

    <div class="portfolio-centered centered">
        <div id="newestvideossection" class="recentitems portfolio">
            <!-- Ajax will insert data here. -->
            <h5>If this is empty, then Zuul and Ribbon could not agree on the proper service in time, reload the page to
            resolve this issue.</h5>
        </div>
    </div>
</div>

<div th:replace="footer :: copy"></div>

<script>
    function getColumnNumber() {
        var winWidth = $(window).width(),
                columnNumber = 1;

        if (winWidth > 1200) {
            columnNumber = 5;
        } else if (winWidth > 950) {
            columnNumber = 4;
        } else if (winWidth > 600) {
            columnNumber = 3;
        } else if (winWidth > 400) {
            columnNumber = 2;
        } else if (winWidth > 250) {
            columnNumber = 1;
        }
        return columnNumber;
    }

    function latest() {
        "use strict";
        var $container = $('.portfolio'),
                $items = $container.find('.portfolio-item'),
                portfolioLayout = 'fitRows';

        if( $container.hasClass('portfolio-centered') ) {
            portfolioLayout = 'masonry';
        }

        $container.isotope({
            filter: '*',
            animationEngine: 'best-available',
            layoutMode: portfolioLayout,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            },
            masonry: {
            }
        }, refreshWaypoints());

        function refreshWaypoints() {
            setTimeout(function() {
            }, 1000);
        }

        $('nav.portfolio-filter ul a').on('click', function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector }, refreshWaypoints());
            $('nav.portfolio-filter ul a').removeClass('active');
            $(this).addClass('active');
            return false;
        });

        function setColumns() {
            var winWidth = $(window).width(),
                    columnNumber = getColumnNumber(),
                    itemWidth = Math.floor(winWidth / columnNumber);

            $container.find('.portfolio-item').each(function() {
                $(this).css( {
                    width : itemWidth + 'px'
                });
            });
        }

        function setPortfolio() {
            setColumns();
            $container.isotope('reLayout');
        }

        $container.imagesLoaded(function () {
            setPortfolio();
        });

        $(window).on('resize', function () {
            setPortfolio();
        });
    }

    function spotlight(){
        $.ajax({url: "/images/ajax/spotlight", success: function(result){
            $('.spinner').remove();
            var spotlight1 = $('#spotlight1');
            var spotlight2 = $('#spotlight2');
            var spotlight3 = $('#spotlight3');
            spotlight1.children().eq(0).attr("src", result[0].embeddedLink);
            spotlight1.children().eq(1).text(result[0].name);
            spotlight1.children().eq(2).text(result[0].description);
            spotlight2.children().eq(0).attr("src", result[1].embeddedLink);
            spotlight2.children().eq(1).text(result[1].name);
            spotlight2.children().eq(2).text(result[1].description);
            spotlight3.children().eq(0).attr("src", result[2].embeddedLink);
            spotlight3.children().eq(1).text(result[2].name);
            spotlight3.children().eq(2).text(result[2].description);
            //console.log(result);
        }});
    }

    function newest(){
        $.ajax({
            url: "/images/ajax/newest",
            data: { amount: "10", },
            success: function(result){
            var winWidth = $(window).width(),
                    columnNumber = getColumnNumber(),
                    itemWidth = Math.floor(winWidth / columnNumber);
            $('#newestvideossection').empty();

            for(var vid in result) {
                var content =
                        '<div class="portfolio-item">'+
                        '<div class="he-wrap tpl6">'+
                        '<img src="'+result[vid].embeddedLink+'" height="'+Math.floor(itemWidth / 1.8)+'" width="'+itemWidth+'" alt=""/>'+
                        '<div class="he-view">'+
                        '<h3 class="a1" data-animate="fadeInDown">'+result[vid].name+'</h3>'+
                        '<a data-rel="prettyPhoto" href="/images/'+result[vid].id+'" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>'+
                        '</div></div></div>';
                $('#newestvideossection').append(content);
            };
            latest();
            //console.log(result);
        }
        });
    }

    $(function() {
        spotlight();
        newest();
    });

</script>

</body>
</html>
