<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<section id="fh5co-top-intro">
		<div class="container">
            <div class="row row-bottom-padded-lg" style="width: 100%">
				<h1>All videos</h1>

				<div th:if="not ${videos}" class="error">
					No videos found.
					<div style="height: 2cm">&nbsp;</div>
				</div>

				<div th:if="${videos}">
					<p>
						All videos in the system:
					</p>

					<table class="table table-striped" style="width: 100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Link</th>
								<th>Description</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="video : ${videos}">
								<td><a href="video.html"
									th:href="@{|/videos/${video.id}|}"
									th:text="|${video.name}|">Name</a></td>
								<td th:text="${video.link}">Link</td>
								<td th:text="${video.description}">Description</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="footer :: copy"></div>

    <!-- Main JS (Do not remove) -->
    <script th:fragment="copy" src="/js/main_alt.js"></script>
    <!-- Set active link -->
    <script>
        $("#navbar-elem li:nth-child(2)").addClass('active');
    </script>
</body>
</html>
