<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

    <!-- *****************************************************************************************************************
    BLUE WRAP
    ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3>User Details</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->


    <div class="row">
        <div class="col-md-1" style="text-align: left"></div>
        <!-- **********************************************************************************************************
       DETAILS
       ************************************************************************************************************ -->
        <div class="col-md-3">
            <h3><i class="fa fa-info" aria-hidden="true"></i> User Details</h3>
            <dl class="dl-horizontal">
                <dt>Username</dt> <br/>
                <dd th:text="${user.userName}">userName</dd>
                <dt>Name</dt> <br/>
                <dd th:text="${user.name}">userName</dd>
            </dl>
        </div>

        <!-- **********************************************************************************************************
        COMMENTS
        *********************************************************************************************************** -->
        <div class="col-md-3" style="text-align: left">
            <h3><i class="fa fa-comment-o" aria-hidden="true"></i> User Comments</h3>
            <div th:if="${comments}">

                <dl class="dl-horizontal" th:each="comment : ${comments}">
                    <dt>Description</dt> <br/>
                    <dd th:text="${comment.comment}">comment</dd>
                    <dt>Video</dt> <br/>
                    <dd th:href="@{|/images/${comment.videoId}|}" th:text="${comment.videoId}">videoId</dd>
                </dl>
            </div>
        </div>

        <!-- **********************************************************************************************************
        PICTURES
        *********************************************************************************************************** -->
        <div class="col-md-4" style="text-align: left">
            <h3><i class="fa fa-picture-o" aria-hidden="true"></i> User Images</h3>
            <div th:if="${images}">
                <div th:each="image : ${images}">
                    <h5 style="color:black;"><span th:text="${image.name}"></span>▼</h5>
                    <img th:src="${image.link}"/>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>

    <div class="container">
        <div class="row">
            <div style="text-align: left; padding-bottom: 2em;">
                Options: <a th:href="@{/}">Home</a> | <a
                    th:href="@{/users/search}">User Search</a>
            </div>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>

</body>
</html>
