<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<!-- *****************************************************************************************************************
	BLUE WRAP
	***************************************************************************************************************** -->
	<div id="blue">
		<div class="container">
			<div class="row">
				<h3>User Search</h3>
				<h5 style="padding-left: 1em">Enter a username or search for a username
					containing given specified text:</h5>
			</div><!-- /row -->
		</div> <!-- /container -->
	</div><!-- /blue -->

	<section id="fh5co-top-intro">
	<div class="container">
		<div class="row row-bottom-padded-lg" style="width: 100%">


			<form action="#" th:object="${searchCriteria}" method="GET"
				  th:action="@{/users/dosearch}" class="form-horizontal">

				<!-- Username field -->
				<div class="form-group">
					<label for="userName" class="col-xs-2">Username search</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" id="userName"
							   th:field="*{userName}" placeholder="Enter username"
							   style="width: 18em;" />
					</div>
					<div class="col-xs-6">Enter a username</div>
				</div>

				<!-- Username errors (if any) -->
				<div class="form-group">
					<div class="control-label col-xs-2">&nbsp;</div>
					<div class="col-xs-4">&nbsp;</div>
					<div class="col-xs-6">
				<span th:if="${#fields.hasErrors('userName')}"
					  style="color: red; font-size: smaller" th:errors="*{userName}">Incorrect
					data</span>
					</div>
				</div>

				<!-- Name field -->
				<div class="form-group">
					<label for="search" class="col-xs-2">Name search</label>
					<div class="col-xs-4">
						<input type="text" class="form-control" id="search"
							   th:field="*{searchText}" placeholder="Enter name"
							   style="width: 18em;" />
					</div>
					<div class="col-xs-6">Case-insensitive, supports part name
						matching</div>
				</div>

				<!-- Owner name errors (if any) -->
				<div class="form-group">
					<div class="control-label col-xs-2">&nbsp;</div>
					<div class="col-xs-4">&nbsp;</div>
					<div class="col-xs-6">
				<span th:if="${#fields.hasErrors('searchText')}"
					  style="color: red; font-size: smaller" th:errors="*{searchText}"></span>
					</div>
				</div>

				<!--  Submit button -->
				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-10">
						<button type="submit" class="btn btn-primary">Find</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</section>

	<div th:replace="footer :: copy"></div>
</body>
</html>
