<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Import header and navbar  -->
<head th:replace="header :: copy"></head>

<!-- Index content -->
<body>
	<section id="fh5co-home" data-section="home" style="background-image: url(/images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">DM848 Microservice</h1>
							<h2 class="to-animate">Exam project.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>

	<section id="fh5co-intro">
		<div class="container">
			<div class="row row-bottom-padded-lg">
                <h2 class="to-animate" style="color: white">Top videos</h2>
				<div class="fh5co-block to-animate" style="background-image: url(/images/img_7.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-bulb"></i>
						<h2>Video1</h2>
						<p>Example 1 orem ipsum dolor sit amet, congue magna iaculis pretium sodales tellus, vitae luctus ante, nulla dictumst bibendum sed ac, bibendum orci felis per turpis id magna, quisque convallis vel. Vestibulum tristique, nam risus non in, mauris feugiat tempor. A pretium ipsum in. </p>
						<p><a href="#" class="btn btn-primary">Watch</a></p>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(/images/img_8.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-wrench"></i>
						<h2>Video2</h2>
						<p>Example 2 orem ipsum dolor sit amet, congue magna iaculis pretium sodales tellus, vitae luctus ante, nulla dictumst bibendum sed ac, bibendum orci felis per turpis id magna, quisque convallis vel. Vestibulum tristique, nam risus non in, mauris feugiat tempor. A pretium ipsum in. </p>
						<p><a href="#" class="btn btn-primary">Watch</a></p>
					</div>
				</div>
				<div class="fh5co-block to-animate" style="background-image: url(/images/img_10.jpg);">
					<div class="overlay-darker"></div>
					<div class="overlay"></div>
					<div class="fh5co-text">
						<i class="fh5co-intro-icon icon-rocket"></i>
						<h2>Video3</h2>
						<p>Example 3 orem ipsum dolor sit amet, congue magna iaculis pretium sodales tellus, vitae luctus ante, nulla dictumst bibendum sed ac, bibendum orci felis per turpis id magna, quisque convallis vel. Vestibulum tristique, nam risus non in, mauris feugiat tempor. A pretium ipsum in. </p>
						<p><a href="#" class="btn btn-primary">Watch</a></p>
					</div>
				</div>
			</div>
			<div class="row watch-video text-center to-animate">
				<span>Watch the video</span>
			</div>
		</div>
	</section>

	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">More Videos</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Lorem ipsum dolor sit amet, congue magna iaculis pretium sodales tellus, vitae luctus ante, nulla dictumst bibendum sed ac, bibendum orci felis per turpis id magna, quisque convallis vel. Vestibulum tristique, nam risus non in, mauris feugiat tempor. A pretium ipsum in. Quam luctus, placerat lacus semper felis placerat laoreet, pretium elit id cras maecenas curabitur cum, ac augue tellus et.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
						<img src="images/work_1.jpg" alt="Image" class="img-responsive"/>
						<div class="fh5co-text">
						<h2>Video 1</h2>
						<span>Branding</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="images/work_2.jpg" class="fh5co-project-item image-popup to-animate">
						<img src="images/work_2.jpg" alt="Image" class="img-responsive"/>
						<div class="fh5co-text">
						<h2>Video2 2</h2>
						<span>Web</span>
						</div>
					</a>
				</div>

				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="images/work_3.jpg" class="fh5co-project-item image-popup to-animate">
						<img src="images/work_3.jpg" alt="Image" class="img-responsive"/>
						<div class="fh5co-text">
						<h2>Video 3</h2>
						<span>Web</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="images/work_4.jpg" class="fh5co-project-item image-popup to-animate">
						<img src="images/work_4.jpg" alt="Image" class="img-responsive"/>
						<div class="fh5co-text">
						<h2>Video 4</h2>
						<span>UI/UX</span>
						</div>
					</a>
				</div>
				<div class="clearfix visible-sm-block"></div>
			</div>

		</div>
	</section>

	<div th:replace="footer :: copy"></div>

    <!-- Main JS (Do not remove) -->
    <script th:fragment="copy" src="/js/main.js"></script>
    <!-- Set active link -->
    <script>
        $("#navbar-elem li:nth-child(1)").addClass('active');
    </script>

</body>


</html>
