<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<section id="fh5co-top-intro">
    <div id="allvid" class="container">
        <div class="spinner icon-spinner img-center" aria-hidden="true" style="margin-top: 2em;"></div>
    </div>
</section>

<div th:replace="footer :: copy"></div>

<!-- Main JS (Do not remove) -->
<script th:fragment="copy" src="/js/main_alt.js"></script>
<!-- Set active link -->
<script>
    $("#navbar-elem li:nth-child(2)").addClass('active');

    function showvideos(){
        $.ajax({url: "/videos/ajax/all", success: function(result){
            for(var vid in result) {
                var content =
                        '<div class="col-md-4 col-sm-6 col-xxs-12">'+
                        '<div class="fh5co-project-item image-popup">'+
                        '<iframe class="ytplayer" type="text/html" width="390" height="260" src="'+result[vid].embeddedLink+'" frameborder="0"></iframe>'+
                        '<div class="fh5co-text right-padding">'+
                        '<h2>'+result[vid].name+'</h2>'+
                        '<span>Youtube</span>'+
                        '</div></div></div>';
                $('#allvid').append(content);
                $('.spinner').remove();
            };
            //console.log(result);
        }});
    }
    showvideos();
</script>
</body>
</html>
