<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

    <!-- *****************************************************************************************************************
    BLUE WRAP
    ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3><i class="fa fa-commenting-o" aria-hidden="true"></i> Comment Details</h3>
                <button type="button" class="btn btn-primary" onclick="goBack()" style="margin-left: 1em">Go Back</button>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->

    <div id="portfoliowrap">
        <div class="container">

            <dl class="dl-horizontal">
                <dt>UserName</dt><br/>
                <dd th:text="${comment.userId}">UserName</dd>
                <dt>Video ID</dt><br/>
                <dd th:text="${comment.videoId}">Video ID</dd>
                <dt>Comment</dt><br/>
                <dd th:text="${comment.comment}">Comment</dd>
            </dl>

            <div style="height: 2cm">&nbsp;</div>
        </div>
    </div>

    <div th:replace="footer :: copy"></div>

</body>
</html>
